body {
  background-color: #e1e1ef;
  color: whitesmoke;
  letter-spacing: 2px;
}

.App > .Heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App > .Heading > h1 {
  /* background-color: #5867dd; */
  color: #5867dd;
  padding: 0.5%;
  text-transform: capitalize;
  letter-spacing: 2.5px;
  font-weight: 500;
}

.App > .Heading > h2 {
  /* background-color: #5867dd; */
  color: #5867dd;
  padding: 0.1%;
  text-transform: capitalize;
  letter-spacing: 2.5px;
  max-width: 45%;
  text-align: center;
  font-weight: 400;
}

.browser-mockup {
  border-top: 2em solid whitesmoke;
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 3px 3px 0 0;
  display: flex;
  align-content: center;
  justify-content: center;
  max-width: 50%;
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.Features { 
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Features > .single-feature {
  background-color: whitesmoke;
  padding: 2%;
  border-radius: 5%;
  color: #5867dd;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.15);
  font-size: 0.8em;
  min-width: 200px;
  max-width: 200px;
}

.Features > .single-feature > h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: -1%;
  font-weight: 600;
}

.Features > .single-feature > h4 {
  color: black;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
}

.Features > .single-feature > img {
  max-width: 75px;
  max-height: 75px;
}
