body {
  background-color: #e1e1ef;
  color: whitesmoke;
  letter-spacing: 2px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  min-width: 100vw;
  min-height: 8vh;
}

header > .header-logo {
 display: flex;
 align-items: center;
}

header > .header-logo > a {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-left: 15%;
  color: #5867dd;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
}

header > .header-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 3%;
}

header > .header-buttons > a {
  text-transform: uppercase;
  color: #e1e1ef;
  margin-right: 10%;
  font-size: 20px;
  padding: 5px;
  font-weight: 400;
}

header > .header-buttons > a:hover {
  background-color: #5867dd;
  cursor: pointer;
}

.Heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
}

.Heading > h1 {
  /* background-color: #5867dd; */
  color: #5867dd;
  padding: 0.5%;
  text-transform: capitalize;
  letter-spacing: 2.5px;
  font-weight: 500;
}

.Heading > h2 {
  /* background-color: #5867dd; */
  color: #5867dd;
  padding: 0.1%;
  /* text-transform: capitalize; */
  letter-spacing: 2.5px;
  max-width: 45%;
  text-align: center;
  font-weight: 400;
}

.browser-mockup {
  border-top: 2em solid whitesmoke;
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 3px 3px 0 0;
  display: flex;
  align-content: center;
  justify-content: center;
  max-width: 50%;
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.Features { 
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Features > .single-feature {
  background-color: whitesmoke;
  padding: 2%;
  border-radius: 5%;
  color: #5867dd;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.15);
  font-size: 0.8em;
  min-width: 200px;
  max-width: 200px;
}

.Features > .single-feature > h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: -1%;
  font-weight: 600;
}

.Features > .single-feature > h4 {
  color: black;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
}

.Features > .single-feature > img {
  max-width: 75px;
  max-height: 75px;
}

.auth {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  max-width: 70%;
  align-items: center;
  color: #5867dd;
  padding: 2%;
}


.login-form {
  display: flex;
  flex-direction: column;
  min-width: 25%;
  background-color: rgb(255, 255, 255);
  margin-top: 3.75vw;
  padding: 3.75vw;
  border-radius: .75vw;
  min-height: 100%;
  max-width: 100%;
}

form > h2 {
  text-align: center;
  margin-top: -1.1vw;
  margin-bottom: 1.5vw;
  max-width: 70%;
  min-width: 60%;
  align-self: center;
  font-size: 1.5vw;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: .75vw;
}

.field > label {
  font-size: 1.1vw;
  margin-bottom: .3vw;
  text-align: center;
}

.field > label:hover {
  color: #5867dd;
}

.field > input {
  min-width: 100%;
  border-radius: 5px;
  border: hidden;
  min-height: 25px;
  font-size: 1.35vw;
  text-transform: none;
  background-color: rgba(0, 0, 0, 0.15);
  outline: none;
  padding: .4vw;
  color: black;
  transition: all 0.15s ease-in-out;
}

.field > input:hover, .field > input:focus {
  background-color: rgba(0, 0, 0, 0.25);
}

.submit {
  margin-top: .75vw;
  background-color: #5867dd;
  color: white;
  border: hidden;
  padding: .4vw;
  border-radius: 5px;
  min-height: 30px;
  align-self: center;
  min-width: 80%;
  font-size: 1.2vw;
  outline: none;
  transition: all 0.35s ease-in-out;
  margin-bottom: -1.5vw;
  cursor: pointer;
}


.dashboard {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unauthorized > h2 > a {
  color: #5867dd;
  /* text-decoration: none; */
}

.unauthorized {
  margin-top: 50%;
  color: #f44;
  font-size: 24px;
}

.asin-search-form{
  display: flex;
  flex-direction: row;
  align-items: center;
}

form > .search {
  border: none;
  border-radius: 5px;
  min-height: 25px;
  min-width: 100%;
  padding: 3%;
  font-size: 16px;
  outline: none;
  border: 2px solid #5868dd86;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: all 0.20s ease-in-out;
  background-color: rgba(255, 255, 255, 0.95);
}

form > .search::placeholder {
  color: #5867dd86;
  transition: all 0.20s ease-in-out;
}

form > .search:hover::placeholder {
  color: #5867dd;
}

form > .search:hover {
  border: 2px solid #5867dd;
}

form > img {
  height: 38px;
  width: auto;
  margin: 5px;
  cursor: pointer;
}

form > .search-button {
  max-width: 1px;
  visibility: hidden;
}


.alert-danger {
  background: #fd397a;
  border: 1px solid #fd397a;
  color: #fff;
  max-width: 70%;
  border-radius: 5px;
  padding: 0.2%;
  text-align: center;
  margin: 1%;
}

.data-wrapper {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 98vw;
}

.single-data {
  background-color: whitesmoke;
  color: #5867dd;
  border-radius: 2%;
  padding: 1%;
  max-width: 28%;
  text-align: center;
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  margin: 1.5%;
  min-width: 28%;
}

.single-data > h1 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
  letter-spacing: 1px;
  margin-top: 0.5%;
}

.single-data > h2 {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: 1px;
  color: black;
}

.single-data > .browser-mockup { 
  max-width: 100%;
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.2);

}

.single-data > img {
  width: auto;
  max-height: 300px;
  max-width: 100%;
}

.single-data > .single-buy-box {
  box-shadow: inset 0 0.1em 1em 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.single-data > .single-buy-box > .buy-box-details-wrapper {
  display: flex;
}

.single-data > .single-buy-box > .buy-box-details-wrapper > .buy-box-details {
  border: 3px solid salmon;
  margin: 5px;
  border-radius: 15px;
  min-width: 150px;
}

.single-data > .single-buy-box > h5 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 3px;
  margin-bottom: 8px;
}

.single-data > h6 {
  margin-top: -4.5%;
}

.single-data > .need-more {
  max-height: 190px;
}

.loader {
  position: relative;
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
  margin: 15%;
  margin-bottom: 3%;
  display: inline-block;
  vertical-align: middle;
  /* background-color: black; */
}

.loader > .line {
  width: 10px;
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#1ee95d), to(#5714ce));
  background: -webkit-linear-gradient(top, #1ee95d, #5714ce);
  background: -o-linear-gradient(top, #1ee95d, #5714ce);
  background: linear-gradient(to bottom, #1ee95d, #5714ce);
}

.loader .line1 {
  left: 0;
  color: red;
  -webkit-animation: line-grow 0.5s ease alternate infinite;
  animation: line-grow 0.5s ease alternate infinite;
}

.loader .line2 {
  left: 20px;
  -webkit-animation: line-grow 0.5s 0.2s ease alternate infinite;
  animation: line-grow 0.5s 0.2s ease alternate infinite;
}

.loader .line3 {
  left: 40px;
  -webkit-animation: line-grow 0.5s 0.4s ease alternate infinite;
  animation: line-grow 0.5s 0.4s ease alternate infinite;
}

.loader .line4 {
  left: 60px;
  -webkit-animation: line-grow 0.5s 0.7s ease alternate infinite;
  animation: line-grow 0.5s 0.7s ease alternate infinite;
}

.loader .line5 {
  left: 80px;
  -webkit-animation: line-grow 0.5s 0.15s ease alternate infinite;
  animation: line-grow 0.5s 0.15s ease alternate infinite;
}

.loading-wrapper > h3 {
  margin-bottom: -4%;
}

.loading-wrapper > h4 {
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

@-webkit-keyframes line-grow {
  0% {
      height: 0;
  }
  100% {
      height: 75%;
  }
}

@keyframes line-grow {
  0% {
      height: 0;
  }
  100% {
      height: 75%;
  }
}
